name: Check formatting

on:
  push:
    branches:
      - main
      - develop
      - feature*
  pull_request:
    branches:
      - main
      - develop
      - feature*

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run clang-format style check
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: "15"
          exclude-regex: src\/core\/common\/crypto\/mbedtls\/drivers\/.*|mbedtls_config\.h|src\/core\/common\/pkcs11\/cryptoki/.*|seqoid\.hpp

      - name: Run cmake-format style check
        run: |
          python -m pip install --upgrade pip
          pip install cmake_format
          find . \( \( -not -path '*/build/*' \) -name '*.cmake' -or -name 'CMakeLists.txt' \) \
            -exec cmake-format --check {} +;

      - name: Run markdownlint check
        uses: DavidAnson/markdownlint-cli2-action@v20
        with:
          globs: "**/*.md"
